$primary : #3576C3;
$fontDark : #444444;
$fontLight : #999999;
$modal-content-border-width : 0px;
$modal-content-border-color : rgba(255, 0, 0, 0.0);
$_radius : 10px;
$modal-content-border-radius : $_radius;
$hr-opacity: 1 !default;
$hr-margin-y: 0;

$font-family-sans-serif : 'Montserrat', sans-serif;

.carousel {
    position: absolute;
    border-radius: $_radius;
    overflow: hidden;
}

.brStyle {
    border: 3px solid $primary;
    border-radius: 5px;
}
.fontPrimary{
    color : $primary;
}

.fontBold{
    font-weight: bold;
}

.fontMedium{
    font-weight: 500;
}
.fontDark{
    color : $fontDark;  
}

.fontMediumLight{
    font-weight: 500;
    color : gray;
}

.fontLight{
    color : $fontLight;
}

.borderRounded{
    border-radius: $_radius
}
.smoothShadow{
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07)
    ;
}
input[type=number].without_number::-webkit-inner-spin-button, 
input[type=number].without_number::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

  
@import "../../node_modules/bootstrap/scss/bootstrap.scss";